<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040492895925-9ejbaorkppr6l5ub4qsgd34n05omk3lb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040492895925-9ejbaorkppr6l5ub4qsgd34n05omk3lb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1040492895925-1rofqomfsqt0d3e7mme7rorco99ji3q8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBaGO-utrSpnIg3dNQzq48JBPX3EQ5SI0I</string>
	<key>GCM_SENDER_ID</key>
	<string>1040492895925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.madraset.quran</string>
	<key>PROJECT_ID</key>
	<string>madrasetalquran-8d1a9</string>
	<key>STORAGE_BUCKET</key>
	<string>madrasetalquran-8d1a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040492895925:ios:bf11dda51df12205df28fc</string>
</dict>
</plist>
